[submodule "RepoAI-IA"]
	path = RepoAI-IA
	url = https://github.com/quarks-team/ProjetoIntegrador-SpcGrafeno-IA.git


[submodule "repoBackEnd_"]
	path = repoBackEnd_
	url = https://github.com/quarks-team/ip4-recivables.git

[submodule "repoFrontend"]
	path = repoFrontend
	url = https://github.com/quarks-team/ProjetoIntegrador-SpcGrafeno-Front.git
[submodule "ProjetoIntegrador-SpcGrafeno-IA"]
	path = ProjetoIntegrador-SpcGrafeno-IA
	url = https://github.com/quarks-team/ProjetoIntegrador-SpcGrafeno-IA
[submodule "ProjetoIntegrador-SpcGrafeno-Backend"]
	path = ProjetoIntegrador-SpcGrafeno-Backend
	url = https://github.com/quarks-team/ProjetoIntegrador-SpcGrafeno-Backend
[submodule "ProjetoIntegrador-SpcGrafeno-Front"]
	path = ProjetoIntegrador-SpcGrafeno-Front
	url = https://github.com/quarks-team/ProjetoIntegrador-SpcGrafeno-Front
[submodule "Projeto-Integrador-SPCGrafeno-BD"]
	path = Projeto-Integrador-SPCGrafeno-BD
	url = https://github.com/quarks-team/Projeto-Integrador-SPCGrafeno-BD
